{% extends 'catalog/base.html' %}
{% block content %}
        <div class="col-lg-10">
            <div class="content">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h2 class="text-center">Форма обратной связи</h2>
                            <form>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Имя</label>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Введите имя">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Введите email">
                                </div>
                                <div class="mb-3">
                                    <label for="message" class="form-label">Сообщение</label>
                                    <textarea name="message" class="form-control" id="message" rows="5" placeholder="Введите сообщение"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Отправить</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="text-center">Контакты</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et lacus vitae diam pharetra
                                lobortis in non mi. Nullam mattis ullamcorper mi vitae egestas. Phasellus ac purus aliquet,
                                ultricies ex vitae, consequat dui. Fusce sit amet ullamcorper mauris, at aliquam risus. Nam
                                convallis felis nec ex pharetra iaculis. Nullam posuere, tortor ac eleifend facilisis, elit
                                erat cursus felis, eget tristique nisl urna sit amet nunc. Aliquam sed dui eu tortor pharetra
                                tristique.</p>
                            <p>Адрес: 12345, Город, Улица, Дом</p>
                            <p>Телефон: +1234567890</p>
                            <p>Email: info@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}